body {
  background-color: #FFF;
  text-align: center;
/*   margin: 1em;
  border: 2px solid;
  border-color: #FFF; */
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
}

#timer,
#colorCode {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 9em;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 5%;
}

#clock {
  display: inline;
}

#meridiem {
  display: inline-block;
  line-height: 100%;
  font-size: .4em;
  width: 1em;
}

#colorCode {
  font-size: 4em;
  ;
}